.lists{

    .list{
        display: flex;
        flex-direction: column;
        gap: 30px;



        .list_block{
            display: flex;
            /* align-items: center; */
            /* justify-content: space-between; */
            gap: 50px;
            position: relative;
            img{
                width: 700px;
                height: 700px;
                font-weight: cover;
                border-radius: 15px;
            }

            .delete{
                position: absolute;
                left: 10px;
                top: 10px;
                font-size: 30px;
                border: 2px solid red;
                background: none;
                color: red;
                padding: 5px 10px;
                border-radius: 20px;
                font-family: sans-serif;
            }
            
            .list_components{
                
                display: flex;
                flex-direction: column;
                gap: 30px;
                

              .block_divs{
                display: flex;
                gap: 20px;
                .components_mm{
                    transition: 1s;
                    /* border: 2px solid white; */
                    padding: 5px;
                    display: flex;
                    flex-direction: column;
                    gap: 10px;
                    gap: 10px;
                    h1{
                        background: none;
                        font-size: 20px;
                    }
                }

                .sizes{
                    width: 270px;

                    .children{

                        .size{
                            display: flex;
                            flex-direction: column;
                            gap: 10px;
                        }
                        input{
                            width: 150px;
                            height: 30px;
                            padding-left: 10px;
                            outline: none;
                            border-radius: 10px;
                            border: 2px solid green;
                            margin-right: 20px;
                        }
                        .button1{
                            border: none;
                            background: none;
                        }

                       .btn{
                        display: flex;
                        flex-wrap: wrap;
                        button{
                            width: 80px;
                            height: 30px;
                            border-radius: 10px;
                            border: 2px solid green;
                            color: green;
                        }

                        button:focus{
                            background: green;
                            color: white;
                            box-shadow: 0 0 10px 2px green;
                        }
                       }
                        
                    }
                   
                }
              }
              
            }
            

            
        }
        .colors{
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
            

            .color{
                display: flex;
                flex-wrap: wrap;
                gap: 5px;
                button{
                    width: 150px;
                    font-size: 15px;
                    color: green;
                    border: 0.2px solid green;
                    border-radius: 10px;
                }
                button:focus{
                    background: green;
                    color: white;
                }
            }
           }
    }
}

.components_block{
    .tittle{
    display: flex;
    flex-direction: column;
    gap: 30px;
   }
   
    h1{
        font-size: 40px;
        background: none;
        background: none;
    }

    .block_button{
        display: flex;
        gap: 20px;
        background: none;
        
        button{
            border: none;
            background: none;
            font-size: 40px;
            
        }
    }

}